{
    "root": true,
    "extends": [
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:unicorn/recommended",
        "xo",
        "xo/browser"
    ],
    "rules": {
        "arrow-body-style": "off",
        "arrow-parens": [
            "error",
            "always"
        ],
        "camelcase": "off", // TODO add snakecase rule
        "capitalized-comments": "off",
        "comma-dangle": [
            "error",
            {
                "arrays": "never",
                "objects": "always",
                "imports": "never",
                "exports": "never",
                "functions": "never"
            }
        ],
        "eqeqeq": "off",
        "indent": [
            "error",
            4,
            {
                "MemberExpression": "off",
                "SwitchCase": 1
            }
        ],
        "max-params": [
            "warn",
            5
        ],
        "multiline-ternary": "off",
        "new-cap": [
            "error",
            {
                "properties": false
            }
        ],
        "no-console": "error",
        "no-extra-boolean-cast": "off",
        "no-implicit-coercion": [
            "error",
            {
                "boolean": false,
                "number": true,
                "string": true
            }
        ],
        "no-negated-condition": "off",
        "no-undef": "off",
        "no-var": "off",
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "operator-linebreak": [
            "error",
            "after"
        ],
        "prefer-const": "off",
        "prefer-destructuring": "off",
        "semi": [
            "error",
            "never"
        ],
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "space-in-parens": [
            "error",
            "always"
        ],
        "unicorn/explicit-length-check": "off",
        "unicorn/no-array-callback-reference": "off",
        "unicorn/no-array-for-each": "off",
        "unicorn/no-array-method-this-argument": "off",
        "unicorn/no-for-loop": "off",
        "unicorn/no-nested-ternary": "off",
        "unicorn/no-null": "off",
        "unicorn/no-unused-properties": "error",
        "unicorn/prefer-array-flat": "off",
        "unicorn/prefer-array-find": "off",
        "unicorn/prefer-dom-node-dataset": "off",
        "unicorn/prefer-dom-node-remove": "off",
        "unicorn/prefer-number-properties": "off",
        "unicorn/prefer-module": "off",
        "unicorn/prefer-query-selector": "off",
        "unicorn/prefer-regexp-test": "off",
        "unicorn/prefer-spread": "off",
        "unicorn/prefer-ternary": "off",
        "unicorn/prevent-abbreviations": "off"
    }
}
